<!DOCTYPE html>

<html>
    <head>
        <title> About </title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p> this site is created by me, it uses Mapbox.com and darksky.net APIs.</p>
             <img class="portrait" src="/img/parniyan.jpg">
             <p> My name is Parniyan. I was formerly a chemist but I've started studying software developement and am eager to learn! I have a beautiful baby girl named "Audrina" the love of my life!</p>
        </div>
              
        {{>footer}}
    </body>
</html>